# Everything
*

# Except
!create_readme.py
!helper.py
!requirements-readme-test.txt
!remove_all_output.sh.sh

!README.md

!run.sh
!runner.sh
!commands.json

!result_validator/
!result_validator/*
!patterns/
!patterns/*
!tests/
!tests/*

!go/
!go/*
!haskell/
!haskell/*
!java/
!java/*
!javascript/
!javascript/*
!objc/
!objc/*
!perl/
!perl/*
!php/
!php/*
!python/
!python/*
!ruby/
!ruby/*
!rust/
!rust/*
!scala/
!scala/*

!README.md
!.gitignore

!.git/
!.git/*
!.github/
!.github/*
